@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}

.HomeThemes {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}