@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}

.HomeThemes {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-image: url('/images/flat01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}